<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/css/create.css">
</head>
<body>
    <main>
        <nav class="navbar">
            <h3>Khaatabook</h3>
            <div>
                <a href="/">Home</a>
                <a href="/create">Create new Hisaab</a>
            </div>

        </nav>


        <div class="hisabs">
            <h3>Create New Hisab</h3>
            <form action="/createhisab" method="post">
                <input name="title" type="text" placeholder="Shoppping ka hisab , ghar ka kharch...">
                <textarea name="data" placeholder="write your hisab" name=""></textarea>
                <input type="submit" value="Create Hisab">

            </form>
            

        </div>
    </main>
</body>
</html>