body {
    font-family: sans-serif;
   
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar h3 {
    margin: 0;
  }
  .navbar a{
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  .hisabs {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .hisabs h3 {
    margin-top: 0;
  }
  
  .hisabs form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  
  .hisabs input,
  .hisabs textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .hisabs textarea {
    height: 200px;
  }
  
  .hisabs input[type="submit"] {
    background-color: #007bff;
    width: 130px;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .hisabs input[type="submit"]:hover {
    background-color: #0056b3;
  }